#choosen {
  animation: showup 1s 1;
}

button {
  background-color: #d3a982;
  border: 5px solid #522136;
  color: #522236;
  padding: 15px 64px;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: bold;
  margin-top: 20px;
  transition: all 1s;

  &:hover {
    cursor: pointer;
    box-shadow: 4px 4px 0px #d3a982;
  }
}

#dots {
  animation: blink 2s infinite;
}

@keyframes showup {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes blink {
  0% {opacity:0;}
  20% {opacity:1;}
  40% {opacity:0;}
  60% {opacity:1;}
  80% {opacity:0;}
  100% {opacity:1;}
}